{% extends 'base.html' %}
{% load static %}
{% block title %} DjangoApp - Movie{% endblock%}

{% block content%}
    <h2 style="text-align: center"> {{ movie.title }} </h2>
    <br>
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <div class="row">
            <div class="col">
                <img src="{{ movie.image.url }}" width="350" height="450">
                <br>

            </div>
            <div class="col">
                <strong style="color :red;">Description : </strong>
                <br>
                {{ movie.content }}
                <br>
                <br>
                 <strong style="color: red;">Category : </strong>
                 {{ movie.category }}
                <br>
                <br>
                <img src="{{ movie.rating_set.first.star1.url }}" width="35" height="45">
                {{ movie.mean_rating }}
            </div>
            <div class="col">
                {% if movie in user.watchlist.movie.all %}
                <a href="{% url 'remove-watchlist' movie.id %}" class="btn btn-outline-warning">Already added to watchlist</a>
                <br><br>
            {% else %}
                <a href="{% url 'add-watchlist' movie.id %}" class="btn btn-warning">Add to watchlist</a>
                <br><br>
            {% endif %}
            <a  style="color: white;" class="btn btn-success" href="{% url 'add-rating' movie.id %}">Rate this </a>
                <br><br>
            <a href="{% url 'add-review' movie.id %}" class="btn btn-info">Add review</a>
                <br><br>
            </div>
        </div>
        <br>
        <strong style="color :gold;">Cast : </strong>
        <br>
        <div class="row">
            {% for actor in actors %}
                <div class="col">

                                <h6>{{ actor.name }}</h6>
                                <img style="border-radius: 50%" src="{{ actor.image.url }}" width="100" height="150">
                </div>
            {% endfor %}
        </div>
        <br>
        <strong>Reviews from users :</strong>
        <br>
        {% for review in reviews %}
            <div class="row shadow p-3 mb-5 bg-white rounded">
                <small style="color: red;" >{{ review.user.username }} posted :</small>
                {{review.context}}
                <small style="color: blue;" >{{ review.date }}</small>
            </div>
        <br>
        {% endfor %}
    </div>

{% endblock %}
